---
- name: Deploy LAMP Stack (Apache, MySQL, PHP)
  hosts: web_servers
  become: yes
  vars:
    apache_port: 80
    apache_ssl_port: 443
    php_version: "8.2"
    mysql_root_password: "{{ vault_mysql_root_password | default('ChangeMe123!') }}"
    mysql_databases:
      - name: webapp
        collation: utf8mb4_unicode_ci
        encoding: utf8mb4
    mysql_users:
      - name: webuser
        password: "{{ vault_mysql_user_password | default('UserPass123!') }}"
        priv: "webapp.*:ALL"
        host: localhost

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
      tags: always

    # Apache Installation
    - name: Install Apache2 web server
      apt:
        name:
          - apache2
          - apache2-utils
        state: present
      tags: apache

    - name: Enable Apache modules
      apache2_module:
        name: "{{ item }}"
        state: present
      loop:
        - rewrite
        - ssl
        - headers
        - proxy
        - proxy_http
      notify: restart apache
      tags: apache

    - name: Configure Apache ports
      template:
        src: ../templates/apache/ports.conf.j2
        dest: /etc/apache2/ports.conf
        owner: root
        group: root
        mode: '0644'
      notify: restart apache
      tags: apache
      when: false  # Disabled - add template file to enable

    - name: Ensure Apache is started and enabled
      service:
        name: apache2
        state: started
        enabled: yes
      tags: apache

    # MySQL Installation
    - name: Install MySQL server
      apt:
        name:
          - mysql-server
          - mysql-client
          - python3-pymysql
        state: present
      tags: mysql

    - name: Ensure MySQL is started and enabled
      service:
        name: mysql
        state: started
        enabled: yes
      tags: mysql

    - name: Set MySQL root password
      mysql_user:
        name: root
        password: "{{ mysql_root_password }}"
        login_unix_socket: /var/run/mysqld/mysqld.sock
        state: present
      tags: mysql

    - name: Create MySQL databases
      mysql_db:
        name: "{{ item.name }}"
        collation: "{{ item.collation }}"
        encoding: "{{ item.encoding }}"
        login_user: root
        login_password: "{{ mysql_root_password }}"
        state: present
      loop: "{{ mysql_databases }}"
      tags: mysql

    - name: Create MySQL users
      mysql_user:
        name: "{{ item.name }}"
        password: "{{ item.password }}"
        priv: "{{ item.priv }}"
        host: "{{ item.host }}"
        login_user: root
        login_password: "{{ mysql_root_password }}"
        state: present
      loop: "{{ mysql_users }}"
      tags: mysql

    - name: Remove anonymous MySQL users
      mysql_user:
        name: ''
        host_all: yes
        login_user: root
        login_password: "{{ mysql_root_password }}"
        state: absent
      tags: mysql

    - name: Remove MySQL test database
      mysql_db:
        name: test
        login_user: root
        login_password: "{{ mysql_root_password }}"
        state: absent
      tags: mysql

    # PHP Installation
    - name: Add PHP repository
      apt_repository:
        repo: ppa:ondrej/php
        state: present
      tags: php

    - name: Install PHP and extensions
      apt:
        name:
          - "php{{ php_version }}"
          - "php{{ php_version }}-fpm"
          - "php{{ php_version }}-mysql"
          - "php{{ php_version }}-curl"
          - "php{{ php_version }}-gd"
          - "php{{ php_version }}-mbstring"
          - "php{{ php_version }}-xml"
          - "php{{ php_version }}-xmlrpc"
          - "php{{ php_version }}-soap"
          - "php{{ php_version }}-intl"
          - "php{{ php_version }}-zip"
          - libapache2-mod-php{{ php_version }}
        state: present
      tags: php

    - name: Configure PHP settings
      lineinfile:
        path: "/etc/php/{{ php_version }}/apache2/php.ini"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - { regexp: '^upload_max_filesize', line: 'upload_max_filesize = 64M' }
        - { regexp: '^post_max_size', line: 'post_max_size = 64M' }
        - { regexp: '^memory_limit', line: 'memory_limit = 256M' }
        - { regexp: '^max_execution_time', line: 'max_execution_time = 300' }
        - { regexp: '^;date.timezone', line: 'date.timezone = UTC' }
      notify: restart apache
      tags: php

    # Firewall Configuration
    - name: Install UFW firewall
      apt:
        name: ufw
        state: present
      tags: firewall

    - name: Allow SSH through firewall
      ufw:
        rule: allow
        port: '22'
        proto: tcp
      tags: firewall

    - name: Allow HTTP through firewall
      ufw:
        rule: allow
        port: '{{ apache_port }}'
        proto: tcp
      tags: firewall

    - name: Allow HTTPS through firewall
      ufw:
        rule: allow
        port: '{{ apache_ssl_port }}'
        proto: tcp
      tags: firewall

    - name: Enable UFW
      ufw:
        state: enabled
      tags: firewall

    # Create test page
    - name: Create PHP info page
      copy:
        content: |
          <?php
          phpinfo();
        dest: /var/www/html/info.php
        owner: www-data
        group: www-data
        mode: '0644'
      tags: test

    - name: Create test database connection page
      copy:
        content: |
          <?php
          $servername = "localhost";
          $username = "{{ mysql_users[0].name }}";
          $password = "{{ mysql_users[0].password }}";
          $database = "{{ mysql_databases[0].name }}";

          // Create connection
          $conn = new mysqli($servername, $username, $password, $database);

          // Check connection
          if ($conn->connect_error) {
              die("Connection failed: " . $conn->connect_error);
          }
          echo "Connected successfully to MySQL database: " . $database;
          $conn->close();
          ?>
        dest: /var/www/html/dbtest.php
        owner: www-data
        group: www-data
        mode: '0644'
      tags: test

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted

    - name: restart mysql
      service:
        name: mysql
        state: restarted
